tickerplant_0_host:goldencity
tickerplant_0_port:5000
tickerplant_1_host:eden
tickerplant_1_port:5000
rdb_0_host:goldencity
rdb_0_port:5001
rdb_1_host:eden
rdb_1_port:5001
hdb_0_host:goldencity
hdb_0_port:5002
hdb_1_host:eden
hdb_1_port:5002
idb_0_host:goldencity
idb_0_port:5003
idb_1_host:eden
idb_1_port:5003
gateway_0_host:goldencity
gateway_0_port:5004
gateway_1_host:eden
gateway_1_port:5004
log_replayer_0_host:goldencity
log_replayer_0_port:5005
log_replayer_1_host:eden
log_replayer_1_port:5005
engine_0_host:goldencity
engine_0_port:5006
engine_1_host:eden
engine_1_port:5006
mattew_host:goldencity
mattew_port:3000
james_host:goldencity
james_port:3001
john_host:eden
john_port:3000
peter_host:eden
peter_port:3001